body{
  display: flex;
  justify-content: center;
  align-items: center;
}

form{
  margin: 2rem;
}

.img-container {
  max-height: 600px;
}

.tittle{
  text-align: center;
}

.loading-message{
  text-align: center;
}
.Loading-h2{
  text-align: center;
}